---
import Button from '@components/ui/Button.astro';

interface HeroContent {
    title: string;
    description: string;
        buttons?: {
        text: string;
        link: string;
        variant?: 'primary' | 'secondary' | 'ghostLight' | 'ghostDark';
        target?: string;
    }[];
    backgroundImage?: string | any; // Using any for now to handle both string paths and imported images
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    content: HeroContent;
}

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1; // Default opacity if not specified
---

<section class="header-offset relative">
    <div class="absolute bg-center w-[100%] h-full">
        <video autoplay loop controls muted src="./heroVideo.mp4" class="w-[100vw] h-[100vh] object-cover" >
        </video>
        <div class="absolute inset-0 bg-black opacity-30"></div>
    </div>
    <div class="site-container mx-auto px-4 py-large relative z-10 flex flex-col md:items-center md:justify-center md:text-center">
      <h1 class="text-white text-balance" data-aos="fade-up"> Fundacion <br/> Bienestar <br/> Bolivia</h1>
        <p class="text-right absolute bottom-3 right-3 text-white mt-2 text-balance" data-aos="fade-up" data-aos-delay="100">{content.description}</p>
    </div>
</section>
