---

import Layout from '../layouts/Layout.astro';

import Donde from '@components/Donde.astro';



---
<Layout title="quienes somos">
  <div class="mt-[70px] min-h-[150vh] flex justify-center items-center py-10"> 
    <Donde />

  </div>
 <div class="flex justify-center items-center gap-8 w-[70%] mx-auto"><h3 class='text-secondary my-5 py-2'>¿Te gustaría ayudarnos a ayudar?</h3> <a class="bg-secondary text-white p-2" href="https://wa.link/b2okpa">CONTACTANOS<a/></div>

</Layout>
