---

import Layout from '../layouts/Layout.astro';
import SplitPanel from '@components/sections/SplitPanel.astro';
import { featureLists } from '@data/features';
import comunidad from '../assets/images/home/comunidad.jpg';


   
const styleGuideSection = {
    eyebrow: "Fundacion Bienestar",
    headline: "Entendimos que teniamos que ir lejos para entender",
    description: "Fuimos a esas comunidades para conocer y entender sus motivaciones, sus necesidades, sus carencias, sus expectativas y aspiraciones",
    image: {
        src: comunidad,
        alt: "Featured image"
    },
    buttons: [
        {
            text: "Contactate ahora",
            link: "/#contacto",
            variant: "primary" as const
        }
    ]
}

---
<Layout title="quienes somos">
<div class="mt-[70px]">
<SplitPanel content={styleGuideSection} imagePosition="right" background="light" padding="base" />
</div>
</Layout>
