---
import Layout from '@layouts/Layout.astro'
import TitleDE from "@components/TitleDE.astro"
---
<Layout title='Zongo choro'>
  <TitleDE 
    title="TANGANI"
    image="./bt.jpg"
    /> 
  <div class='grid grid-cols-2 gap-7 md:grid-cols-3'>
    <img src='t/1t.jpg' alt='imagen1'/>
    <img src='t/2t.jpg' alt='imagen1'/>
    <img src='t/3t.jpg' alt='imagen1'/>
    <img src='t/4t.jpg' alt='imagen1'/>
  </div>
</Layout>
