---
import Layout from '@layouts/Layout.astro'
import TitleDE from "@components/TitleDE.astro"
---
<Layout title='Zongo choro'>
  <h1 class="mt-32 text-center text-primary text-4xl"> Testimonios </h1>
  <div class='grid grid-cols-2 gap-7 md:grid-cols-3 p-10 place-items-center'>
    <video controls width="1000" class="w-full h-full object-cover"> <source src='/TESTIMONIO1x.mp4' type="video/mp4" /> </video>
    <video controls width="1000" class="w-full h-full object-cover"> <source src='/TESTIMONIO2x.mp4' type="video/mp4" /> </video> 
    <video controls width="1000" class="w-full h-full object-cover"> <source src='/TESTIMONIO3x.mp4' type="video/mp4" /> </video> 
    <video controls width="1000" class="w-full h-full object-cover"> <source src='/TESTIMONIO4x.mp4' type="video/mp4" /> </video> 
    <video controls width="1000" class="w-full h-full object-cover"> <source src='/TESTIMONIO5x.mp4' type="video/mp4" /> </video> 
  </div>
</Layout>
