---
import Layout from '@layouts/Layout.astro'
import TitleDE from "@components/TitleDE.astro"
---
<Layout title='Zongo choro'>
  <TitleDE 
    title="ZONGO CHORO"
    image="./bc.jpg"
    /> 
  <div class='grid grid-cols-2 gap-7 md:grid-cols-3 my-10'>
    <img src='zc/1zc.jpg' alt='imagen1'/>
    <img src='zc/2zc.jpg' alt='imagen1'/>
    
  </div>
</Layout>
<style>
  img{
    height:200px;
    object-fit:cover;
  }
</style>
