---
import Layout from '@layouts/Layout.astro'
import TitleDE from "@components/TitleDE.astro"
---
<Layout title='Zongo choro'>
  <TitleDE 
    title="ZONGO CHORO"
    image="./bc.jpg"
    /> 
  <div class='grid grid-cols-2 gap-7 md:grid-cols-3'>
    <img src='zc/1zc.png' alt='imagen1'/>
    <img src='zc/2zc.jpg' alt='imagen1'/>
    <img src='zc/3zc.png' alt='imagen1'/>
    <img src='zc/4zc.png' alt='imagen1'/>
    <img src='zc/5zc.png' alt='imagen1'/>
  </div>
</Layout>
