
---
import Layout from '@layouts/Layout.astro'
import TitleDE from "@components/TitleDE.astro"
---
<Layout title='Zongo choro'>
  <TitleDE 
    title="ZONGO ALTO Y BAJO"
    image="./bz.jpg"
    /> 
  <div class='grid grid-cols-2 gap-7 md:grid-cols-3'>
    <img src='za/1za.jpg' alt='imagen1'/>
    <img src='za/2za.jpg' alt='imagen1'/>
    <img src='za/3za.jpg' alt='imagen1'/>
    <img src='za/4za.jpg' alt='imagen1'/>
  </div>
</Layout>
<style>
  img{
    height:200px;
    object-fit:cover;
  }
</style>
