<section id='donde-estuvimos'>
  <div class="flex flex-col justify-center items-center gap-16">
    <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px] flex justify-center items-center flex-col bg-background/90">
      <img class="w-full h-full" src="l1.jpg" alt="Línea 1" />
    </div>
    
    <div class="grid grid-cols-3 gap-5 md:gap-16">
      <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px] flex justify-center items-center flex-col bg-background/90">
        <img class="w-full h-full" src="l2.jpg" alt="Línea 2" />
      </div>
      <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px] flex justify-center items-center flex-col bg-background/90">
        <img class="w-full h-full" src="l3.jpg" alt="Línea 3" />
      </div>
      <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px] flex justify-center items-center flex-col bg-background/90">
        <img class="w-full h-full" src="l4.jpg" alt="Línea 4" />
      </div>
    </div>
    
    <div class="flex justify-around items-center gap-5 md:gap-16">
      <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px]  flex justify-center items-center flex-col bg-background/90">
        <img class="w-full h-full" src="l6.jpg" alt="Línea 6" />
      </div>
      <div class="p-2 rounded-lg border border-black w-[100px] h-[100px] md:w-[400px] md:h-[400px]  flex justify-center items-center flex-col bg-background/90">
        <img class="w-full h-full" src="l5.jpg" alt="Línea 5" />
      </div>
    </div>
  </div>
</section>
