---
const {title, image} = Astro.props
---
<section class="flex flex-wrap md:flex-nowrap justify-around items-center gap-8">

  <h1 class='text-3xl text-secondary'>
    {title}
  </h1>
  <img src={image} alt={title} />
</section>

